{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1>
   What users are saying:
</h1>

  
      
      <p>leave a message for others to see</p>
      
      <form>
        <input name="dream" type="text" maxlength="100" placeholder="say something!" aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Send</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
        <script src="/client.js" defer></script>

      
  <div class="well">
    
  <p>
    Cloud100 - Version 6.2.3
  </p>
  <p>
    Created by RoryConroy management limited, contact us by the following methods listed:
  </p>
  <p>
    email: conbrettandco@gmail.com
  </p>
  <p>
    address: 9 Adelphi Quay, Waterford, X91 T8PK

  </p>
    
  </div>
   <p>
     We are located in the heart of Waterford City just minutes from the city centre. We have a team on standby 24 hours a day should you need it.
  </p>
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.0823686269146!2d-7.106138684202218!3d52.26004927976578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c69a0473cc2f%3A0x880f451225f3aa98!2s9+Adelphi+Quay%2C+Waterford%2C+X91+T8PK!5e0!3m2!1sen!2sie!4v1552130889572" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></P>
  
   
<a href="mailto:conbrettandco@gmail.com?Subject=Hi%20Can you help me">
<img border="0" alt="Email Us" src="https://cdn.glitch.com/4d84e29f-5e54-48b3-9618-7ff9bf67a5ec%2FMail_black-512.png?1552131374866" width="100" height="100">
</a>
<p>
  

<i class="ui huge facebook icon"></i>
  <i class="ui huge instagram icon"></i>
  <i class="ui huge spotify icon"></i>
</p>


</section>