{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">

  <h1 class="ui header">
    Welcome to Cloud100
  </h1>
  <p>
    Cloud100 allows you to store information which will only be seen by you. Our service is free and secure. We allow you to store you information into playlists and collections.
    
  </p>
  <p>
    We currently only support text and images, but with your support we will continue to grow. <i>Join the online security revolution!</i>
  </p>
    <h2>
     - Sign up now to learn more -
  </h2>
    <img src="https://cdn.glitch.com/d1220612-c5fc-47af-b3f4-d26db28e3341%2Flockunlock.gif?1556197961699" alt="Smiley face" height="50%" width="50%">
<h1 class="ui header">
    <u>Your information under <i>your</i> control!</u>
  </h1>

  
  <h3>
    total users worldwide:  {{totalCollections}} 
  </h3>
  
  
  <div class="footer">
  <p>Cloud100 - fast and secure</p>
</div>
  
  
  
</section>